:root {
    --dark: #111032;
    --white: #F9F9FF;
    --bg-dark: #161540;
    --bg-light: #E2F2F8;
    --accent-bright: #68CDD4;
    --accent-medium: #95DBE1;
    --accent-small: #6563B8;
    --links-color: #2F3878;
}

body {
    min-height: 100vh;
    min-width: 1170px;
    padding: 0;
    margin: 0 auto;
    display: flex;
    flex-direction: column;

    font-family: 'Source Sans Pro', 'Arial', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px; /* or 150% */
    color: var(--dark);

    background-color: var(--white);
}

main {
    /* padding: 0 98px; */
    /* width: 1170px; */
    margin: auto;
    width: 100%;
    flex: 1 0 auto;
}

.width-770 {
    width: 770px;
    margin: 0 auto;
    padding: 0 298px;
}

.columns-container {
    display: flex;
    align-items: stretch;
    justify-content: center;
    gap: 100px;
}

.two-text-columns {
    column-count: 2;
    column-gap: 30px;
}
.two-text-columns p {
    break-inside: avoid;
}
.two-text-columns p:first-child {
    margin-top: 0;
}
.two-text-columns img {
    margin-bottom: 15px;
}

.visually-hidden {
    position: absolute;
    clip: rect(1px, 1px, 1px, 1px);
    padding: 0;
    border: 0;
    height: 1px;
    width: 1px;
    overflow: hidden;
}

.list-reset {
    list-style: none;
    padding: 0;
    margin: 0;
}

.link-reset {
    color: inherit;
    text-decoration: none;
}

img {
    display: block;
}

p {
    margin: 10px 0;
}

dfn {
    font-style: normal;
}

sub {
    font-size: 12px;
    line-height: 0;
}

mark {
    background-color: var(--accent-medium);
}

[class*="-link"][href]:hover,
[class*="-link"][href]:focus-visible {
    opacity: 0.7;
    border-bottom: 1px solid var(--dark);
}
[class*="-link"][href]:active {
    opacity: 0.4;
}
[class*="-link"][href]:has(img):hover,
[class*="-link"][href]:has(img):focus-visible {
    border: none;
}



[class*="-btn"]:hover,
[class*="-btn"]:focus-visible {
    opacity: 0.7;
    cursor: pointer;
}
[class*="-btn"]:active {
    opacity: 0.4;
}
[class*="-btn"]:disabled {
    background-color: lightgray;
    color: rgb(78, 78, 78);
    cursor: default;
}